In [1]:
import pickle
import pandas as pd

tickers = ['TM', 'SBUX', 'NKE', 'MCD', 'LVS', 'HD', 'GM', 'FORD', 'EBAY', "AMZN"]
temp_dir = {'SYMBOL' : [],
            'INDUSTRIES' : [],
            'RETURN' : [],
            'SCORE' : []}


for ticker in tickers:
    with open(f'score/{ticker}.pkl', 'rb') as f:
        rank = pickle.load(f)
        temp_dir['SYMBOL'].append(rank[0])
        temp_dir['INDUSTRIES'].append(rank[1])
        temp_dir['RETURN'].append(rank[3])
        temp_dir['SCORE'].append(rank[2])

ranking = pd.DataFrame(temp_dir)
ranking = ranking.sort_values('SCORE', ascending=False)
ranking['RANK'] = [i for i in range(1, len(ranking) + 1)]
ranking.set_index('RANK', inplace=True)
ranking

     SYMBOL         INDUSTRIES     RETURN     SCORE
RANK
1       LVS  Consumer Cyclical  45.430969  4.969562
2       MCD  Consumer Cyclical  37.293007  2.670295
3        GM  Consumer Cyclical  12.150977  1.081237
4        TM  Consumer Cyclical  13.051534 -0.582968
5       NKE  Consumer Cyclical  75.339259 -0.937336
6      FORD  Consumer Cyclical -13.406046 -3.211478
7      AMZN  Consumer Cyclical  76.410909 -4.507828
8      EBAY  Consumer Cyclical -12.925152 -5.336586
9        HD  Consumer Cyclical -10.707433 -5.617308
10     SBUX  Consumer Cyclical   0.630732 -7.532189