In [2]:
import pickle
import pandas as pd

tickers = ['ZBH', 'SNY', 'PFE', 'JNJ', 'GSK', 'FMS', 'CNC', 'CI', 'CAH', 'ANTM']
temp_dir = {'SYMBOL' : [],
            'INDUSTRIES' : [],
            'RETURN' : [],
            'SCORE' : []}


for ticker in tickers:
    with open(f'score/{ticker}.pkl', 'rb') as f:
        rank = pickle.load(f)
        temp_dir['SYMBOL'].append(rank[0])
        temp_dir['INDUSTRIES'].append(rank[1])
        temp_dir['RETURN'].append(rank[3])
        temp_dir['SCORE'].append(rank[2])

ranking = pd.DataFrame(temp_dir)
ranking = ranking.sort_values('SCORE', ascending=False)
ranking['RANK'] = [i for i in range(1, len(ranking) + 1)]
ranking.set_index('RANK', inplace=True)
ranking

     SYMBOL   INDUSTRIES     RETURN     SCORE
RANK
1       CNC  Healthcares  66.994135  5.078654
2        CI  Healthcares  39.273444  4.183411
3       ZBH  Healthcares  44.441138  2.709432
4       JNJ  Healthcares  23.099784  1.692725
5       GSK  Healthcares   3.738158  0.592046
6      ANTM  Healthcares  28.479426 -0.619348
7       CAH  Healthcares -20.130151 -0.639247
8       SNY  Healthcares   5.912334 -0.686501
9       PFE  Healthcares  -2.457508 -1.288565
10      FMS  Healthcares -37.625308 -4.017652